body {
    background-image: url(/asset/resource/image/background/stary_bg.jpg);
    background-size: contain;
}

main {
    min-height: 100vh;
    max-width: 700px;
    margin-inline: auto;
    padding-top: 100px;
    padding-inline: 10px;
}

main>h1 {
    text-align: center;
}

main>h2 {
    margin-top: 50px;
}

.event-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.018);
    border-radius: 10px;
}

.horizontal-header {
    display: flex;
    justify-content: space-between;
    background-color: #31313194;
    border-radius: 10px;
    padding: 10px 15px;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
}

.horizontal p:nth-child(2) {
    text-align: center;
}
.horizontal p:nth-child(3) {
    text-align: right;
}

footer{
    margin-top: 50px;
}