body{
    background-image: url(/asset/resource/image/background/stary_bg.jpg);
    background-size: contain;
}

main {
    min-height: 100vh;
    padding-top: 100px;
    max-width: 1000px;
    margin-inline: auto;
}

main>h1:nth-child(1){
    font-size: 30px;
    width: 100%;
    text-align: center;
}

main>h2{
    margin-top: 30px;
}

main #member-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-block: 30px;
    padding: 10px;
}

main #member-list .member{
    width: 21%;
    background-color: #313131;
    aspect-ratio: 1;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

main #member-list .member img{
    width: 100%;
    height: 100%;
    position: absolute;

}



main #member-list .member .background{
    filter: grayscale(1);
}
main #member-list .member .techstorm-bg{
    mix-blend-mode: overlay;
}

main #member-list .member .member-pic{
    filter: grayscale(1);
    transition: all .2s;
}
main #member-list .member:hover .member-pic{
    filter: grayscale(0);
}

main #member-list .member .gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, #313131, #31313100);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}

main #member-list .member .gradient h2{
    font-size: 20px;
}
main #member-list .member .gradient p{
    font-size: 15px;
}

main #member-list .member .link-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transition: all .2s;
}

main #member-list .member:hover .link-icon{
    opacity: 1;
}

main .event-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .event-list .event{
    background-color: #3131312a;
    border-radius: 10px;
    overflow: hidden;
    margin-inline: 10px;
}

main .event-list .event .top{
    padding: 20px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

main .event-list .event .top .icon{
    width: 30px;
    transition: all .2s;
}

main .event-list .event .top .icon.active{
    transform: rotate(180deg);
}

main .event-list .event .bottom{
    padding: 0px;
    display: flex;
    height: 0;
    transition: all .2s;
}

main .event-list .event .bottom.active{
    height: fit-content;
    padding: 20px;
}

main .event-list .event .bottom .coordinator{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .event-list .event .horizontal{
    display: flex;
    justify-content: space-between;
    color: gray;
}

main .event-list .event .bottom .volunteer{
    width: 40%;
    padding-left: 20px;
    color: white;
}

main .event-list .event .bottom .volunteer span{
    background-color: #313131;
    padding: 5px 8px;
    margin-bottom: 10px;
    display: block;
    width: fit-content;
    border-radius: 5px;
}

main .event-list .event .bottom .volunteer h3{
    margin-bottom: 10px;
}

@media(max-width:700px){
    main #member-list .member{
        width: 30%;
    }
    main #member-list .member .gradient h2{
        font-size: 15px;
    }
    main #member-list .member .gradient p{
        font-size: 10px;
    }
    main #member-list .member .member-pic{
        filter: grayscale(0);
    }
    main #member-list .member .link-icon{
        opacity: 1;
    }

    main .event-list .event .bottom{
        flex-direction: column;
    }
    main .event-list .event .bottom .volunteer, main .event-list .event .bottom .coordinator{
        width: 100%;
    }
    main .event-list .event .bottom .volunteer{
        padding-left: 0;
        margin-top: 20px;
    }
}
@media(max-width:550px){
    main #member-list .member{
        width: 45%;
    }
}

footer{
    margin-top: 30px;
}