@font-face {
    font-family: 'SpaceBoards';
    src: local('SpaceBoards'), url('/assets/font/spaceboards.otf') format('opentype');
}

@font-face {
    font-family: 'GoboldCuts';
    src: local('GoboldCuts'), url('/assets/font/gobold_cuts.otf') format('opentype');
}

@font-face {
    font-family: 'MavisSansRegular';
    src: local('MavisSansRegular'), url('/asset/font/mavis.otf') format('opentype');
}

@font-face {
    font-family: 'MavisSansLight';
    src: local('MavisSansLight'), url('/asset/font/mavis_light.otf') format('opentype');
}

@font-face {
    font-family: 'MavisSansBold';
    src: local('MavisSansBold'), url('/asset/font/mavis_bold.otf') format('opentype');
}

@font-face {
    font-family: 'Regista';
    src: local('Regista'), url('/asset/font/regista.otf') format('opentype');
}

@font-face {
    font-family: 'Soliden-Bold';
    src: local('Soliden-Bold'), url('/asset/font/soliden_bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Soliden-BoldCondensed';
    src: local('Soliden-BoldCondensed'), url('/asset/font/soliden_boldcondensed.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Soliden-BoldCondensedOblique';
    src: local('Soliden-BoldCondensedOblique'), url('/asset/font/soliden_boldcondensedoblique.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Soliden-BoldExpanded';
    src: local('Soliden-BoldExpanded'), url('/asset/font/soliden_boldexpanded.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Soliden-BoldExpandedOblique';
    src: local('Soliden-BoldExpandedOblique'), url('/asset/font/soliden_boldexpandedoblique.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Soliden-BoldOblique';
    src: local('Soliden-BoldOblique'), url('/asset/font/soliden_boldoblique.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Soliden-Condensed';
    src: local('Soliden-Condensed'), url('/asset/font/soliden_condensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Soliden-CondensedOblique';
    src: local('Soliden-CondensedOblique'), url('/asset/font/soliden_condensedoblique.ttf') format('truetype');
    font-style: oblique;
}

@font-face {
    font-family: 'Soliden-Expanded';
    src: local('Soliden-Expanded'), url('/asset/font/soliden_expanded.ttf') format('truetype');
}

@font-face {
    font-family: 'Soliden-ExpandedOblique';
    src: local('Soliden-ExpandedOblique'), url('/asset/font/soliden_expandedoblique.ttf') format('truetype');
    font-style: oblique;
}

@font-face {
    font-family: 'Soliden-Oblique';
    src: local('Soliden-Oblique'), url('/asset/font/soliden_oblique.ttf') format('truetype');
    font-style: oblique;
}

@font-face {
    font-family: 'Soliden-Regular';
    src: local('Soliden-Regular'), url('/asset/font/soliden_regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel-Regular'), url('/asset/font/Cinzel-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Neon';
    src: local('Neon-Regular'), url('/asset/font/neon.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body,
html {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Soliden-Regular', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all .2s ease-in;
}

nav #logo {
    width: 45px;
    margin-left: 5px;
}

nav #nav-part1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav #nav-part2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

nav #nav-part2 h2 {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}

nav #menu-btn {
    width: 30px;
    cursor: pointer;
    display: none;
}

nav #menu-btn-cancel {
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-list {
    position: absolute;
    width: fit-content;
    height: 100vh;
    background-color: #313131;
    right: 0;
    top: 0;
}

nav .nav-list-upper {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 15px;
}

nav .nav-list-lower {
    display: flex;
    flex-direction: row;
    height: 100%;
}

nav .nav-list-lower .nav-socials-list {
    height: 100%;
    width: 50%;
    padding: 30px;
    text-transform: uppercase;
    display: none;
}
nav .nav-list-lower .nav-socials-list  img{
    width: 35px;
    height: 35px;
    margin-right: 3px;
    cursor: pointer;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin-top: 20px;
}

nav .nav-list-lower .nav-pages-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 50%;
    padding: 20px;
    text-transform: uppercase;
    font-size: 15px;
    margin-inline: 100px;
}

nav .nav-list-lower p {
    color: gray;
}

nav .nav-list-lower li {
    list-style: none;
    cursor: pointer;
}

nav .nav-list-lower h1 {
    cursor: pointer;
}

@media(max-width:700px) {

    nav h2{
        font-size: 17px;
    }

    nav #nav-part2 h2 {
        display: none;
    }

    .nav-list {
        width: 100%;
    }

    nav #logo {
        width: 30px;
        margin-left: 0px;
    }

    nav #menu-btn {
        width: 25px;
        display: block;
    }

    nav #menu-btn-cancel {
        width: 40px;
    }

    nav .nav-list-lower .nav-socials-list {
        padding: 20px;
    }

    nav .nav-list .nav-pages-list {
        display: flex;
    }
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #313131c7;
    z-index: 9999;
    transition: all .2s;
  }
  
  .loading-spinner {
    border: 4px solid gray;
    border-top: 4px solid #313131;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .content-container {
    display: none; /* Hide the content initially */
  }

footer {
    background-color: #1c1c1c;
    position: sticky;
    padding: 70px 50px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}

footer>div {
    width: 15%;
}

footer .techstorm-name {
    width: 200px;
    height: fit-content;
    margin-top: -10px;
}

footer h2 {
    color: #4b4b4b;
    margin-bottom: 10px;
}

footer p,
footer li {
    list-style: none;
    color: gray;
}

footer li {
    margin-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
}

footer .footer-part5 .social-list img {
    width: 35px;
    margin-right: 3px;
    cursor: pointer;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
}

@media(max-width:1050px) {
    footer>div {
        width: 45%;
    }
}

@media(max-width:550px) {
    footer>div {
        width: 100%;
    }

    footer .footer-part1 {
        display: flex;
        justify-content: center;
    }
}