*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}