.typing-text::after {
    content: '|';
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

#lander-animation {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/resource/gif/vikram_lander.gif);
    background-size: cover;
    background-position: center;
    position: fixed;
    display: none;
    transition: all .5s;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Regista', sans-serif;
    font-size: 60px;
    text-shadow: 0 0 100px black;
    text-align: center;
    padding: 40px;
}

main {
    height: 100vh;
    width: 100%;
    color: white;
    background-color: #313131;
}