#lander-animation {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/resource/gif/vikram_lander.gif);
    background-size: cover;
    background-position: center;
    position: fixed;
    display: none;
    transition: all 1s;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    width: 100%;
    color: white;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typing-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    font-family: 'Regista', sans-serif;
    font-size: 40px;
    text-shadow: 0 0 10px #212121;
    text-align: center;
    padding: 20px;
    color: white;
}

.typing-text::after {
    content: '|';
    animation: blink-caret 0.75s infinite;
}

.remove-caret::after {
    display: none;
}

.circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: name_rotate 10s linear infinite; */
}

.circle img {
    width: 100%;
    transform: scale(.8);
    opacity: 0;
    transition: all .8s;
}

@keyframes name_rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: .5em;
    transform-origin: 0 100px;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

@media(max-width:700px) {
    .typing-text {
        font-size: 30px;
    }

    .text span {
        font-weight: bolder;
        transform-origin: 0 80px;
    }

    .circle img {
        margin-top: -40px;
    }
}