body {
    background-color: black;
    /* overflow: hidden; */
}

#lander-animation {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/resource/gif/vikram_lander.gif);
    background-size: cover;
    background-position: center;
    position: fixed;
    display: none;
    transition: all 1s;
    justify-content: center;
    align-items: center;
}

header {
    z-index: 996;
    position: fixed;
    padding: 8px 10px;
    transition: all .5s;
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    width: 50px;
}

main {
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    scroll-snap-align: start;
}

#video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    opacity: 0;
    transition: all .2s;
}

.typing-text {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-family: 'Regista', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 10px black;
    text-align: center;
    padding: 20px;
    color: white;
}

.typing-text::after {
    content: '|';
    animation: blink-caret 0.75s infinite;
}

.remove-caret::after {
    display: none;
}

main .centre {
    position: absolute;
}

.circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.circle img {
    width: 90%;
    transform: scale(.8);
    opacity: 0;
    transition: all .8s;
}

@keyframes name_rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes image_rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 22px;
    transform-origin: 0 100px;
    color: white;
    text-shadow: 0 0 2px black;
    font-weight: bolder;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

#down-arrow {
    z-index: 1;
    position: absolute;
    bottom: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    display: none;
    transition: .2s all;
}

#down-arrow img {
    width: 40px;
    animation: down_arrow_anim 2s infinite;
}

@keyframes down_arrow_anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media(max-width:1650px) {
    #video-background {
        object-fit: cover;
    }
}

.contactus {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.064);
    padding: 20px;
    backdrop-filter: blur(5px);
}


.contactus .container {
    max-width: 350px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    position: relative;
}

.contactus .container .space-image {
    width: 100%;
    border-bottom-left-radius: 20px;
}

.contactus .cross-btn {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.contactus .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactus .socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* facebook */

.facebook .Btn {
    z-index: 2;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.facebook .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.facebook .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1877f2;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.facebook .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.facebook .Btn:hover .svgContainer {
    border: 1px solid rgba(230, 230, 230, 0.466);
    background-color: rgba(204, 204, 204, 0.466);
    backdrop-filter: blur(4px);
}

/* linkedin  */
.LinkedinBtn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.LinkedinBtn .svgContainer {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 1px;
    /* Adjusted letter spacing */
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.LinkedinBtn .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: 1;
    border-radius: 9px;
    pointer-events: none;
    transition: all 0.3s;
}

.LinkedinBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Added box shadow effect */
}

.LinkedinBtn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.LinkedinBtn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
}

/* instagram */
.instagram .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.instagram .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 2;
}

.instagram .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    z-index: 1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
}

.instagram .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.instagram .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
}

.cssbuttons-io-button {
    background: #212121;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #313131;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #313131;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #212121;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

@media(max-width:700px) {
    .contactus {
        font-size: 14px;
    }
}


section {
    font-weight: 100%;
    color: white;
}

#transition p {
    font-weight: bolder;
    flex: 0 0 auto;
}

#About {
    width: 100%;
    display: none;
    overflow-x: hidden;
    background-color: black;
    transform: translateY(0px);
    position: sticky;
    top: 0;
    transition: all .2s;
    background: url(/assets/resource/image/background/space-hand.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-align: start;
}

#About h1 {}

#About .text-scroll-container {
    overflow-x: hidden;
    width: 120vw;
    position: absolute;
    z-index: -1;
    background-color: yellow;
    color: black;
    transform: translateX(-100px);
    margin-left: -50px;
}

#About .text-scroll-container:nth-child(1) {
    top: 150px;
    transform: rotate(5deg);
}

#About .text-scroll-container:nth-child(2) {
    top: 210px;
    transform: rotate(-20deg);
}

#About .text-scroller {
    width: 100%;
    display: flex;
    gap: 15px;
    font-size: 50px;
    padding: 10px;
    animation: transition_movement 30s linear infinite;
}

#About .text-scroller p {
    flex: 0 0 auto;
}


@keyframes transition_movement {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -200vw;
    }
}

#about-content {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.806);
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}

#About .card {
    width: 100%;
    max-width: 700px;
    height: 354px;
    transition: all 0.2s;
    position: relative;
}

#About .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 10px;
}

#About .circle {
    width: 150px;
    height: 150px;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

#About .circle:nth-child(1) {
    top: -75px;
    left: -85px;
}

#About .circle:nth-child(2) {
    bottom: -50px;
    right: -50px;
    animation-name: move-down1;
    width: 120px;
    height: 120px;
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}

.section {
    position: sticky;
    top: 0;
}

#Gallery {
    padding: 10px;
    height: 100vh;
    /* margin-top: 100vh; */
    background-color: black;
    color: white;
    background-image: url(/assets/resource/image/background/gallery_bg.png);
    background-size: 100%;
    background-position: center;
    position: relative;
    transition: all .2s linear;
    scroll-snap-align: start;
}

#Gallery h1 {
    position: sticky;
    top: 70px;
    font-size: 150px;
    z-index: 1;
    text-shadow: 0 0 50px black;
    display: inline;
}

.cursor-link {
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s;
}

.cursor-link:hover {
    box-shadow: 0 0 100px rgba(255, 255, 255, 1);
    width: 70px;
    height: 70px;
}

.cursor-link img {
    width: 100%;
}

@media(max-width:700px) {
    #Gallery {
        background-size: 300%;
    }

    #Gallery h1 {
        font-size: 100px;
    }
}

@media(max-width:400px) {
    #Gallery h1 {
        font-size: 70px;
    }
}

#Events {
    height: 100vh;
    background-color: black;
    position: sticky;
    top: 0;
}